# Server Configuration
SERVER_PORT=8081
APP_ENV=dev

# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# MongoDB Connection String
MONGODB_URI=your_mongodb_connection_uri

# JWT Authentication Security
JWT_SECRET=your_jwt_secret_key
JWT_ACCESS_EXPIRATION=900000
FRONTEND_URL=http://localhost:3000

# Cloudflare R2 Storage Credentials
R2_ACCESS_KEY=your_r2_access_key
R2_SECRET_KEY=your_r2_secret_key
R2_BUCKET=travelerprofileimage
R2_ENDPOINT=your_r2_endpoint
R2_PUBLIC_URL=your_r2_public_url
